CENTRAL_REMOTE_WRITE_URL=http://<VPS_PUBLIC_IP>:9090/api/v1/write
SITE_NAME=site-4
PING_TARGET_1=1.1.1.1
PING_TARGET_2=203.0.113.10
SNMP_DEVICE_1_ID=site-4-fw
SNMP_DEVICE_1_IP=192.168.40.1
SNMP_DEVICE_1_VENDOR=generic
SNMP_DEVICE_2_ID=site-4-sw
SNMP_DEVICE_2_IP=192.168.40.2
SNMP_DEVICE_2_VENDOR=cisco
